<%- include('../partials/header') %>
        <h2>Flight List</h2>
        <table>
            <thead>
                <th>Airline</th>
                <th>Flight Number</th>
                <th>Departs</th>
            </thead>
            <tbody>
                <% flights.forEach(function(flight) { %>
                    <tr>
                        <td><%= flight.airline %></td>
                        <td><%= flight.flightNo %></td>
                        <td><%= flight.departs %></td>
                        <td><a href="/flights/<%= flight._id %>">DETAILS</a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
<%- include('../partials/footer') %>