<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
  <main> 
    <h1>Flight Details</h1>
    <section>
        <div>Airline: <%= flight.airline%></div>
        <div>Flight Number: <%= flight.flightNo%></div>
        <div>Departs: <%= flight.departs%></div>
    </section>

    <br><br><h2>Add A Destination</h2>
    <form iid="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Destination: </label>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
            <option value="SEA">SEA</option>
        </select><br>
        <label>Arrival: </label>
        <input type="datetime-local" name="arrival"><br>
        <input type="submit" value="Add Destination">
    </form><br><br>

    <% if (flight.destinations.length) { %>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Destination</th>
              <th>Arrival</th>
            </tr>
          </thead>
          <tbody>
            <% flight.destinations.forEach(function(r) { %>
              <tr>
                <td><%= r.createdAt.toLocaleDateString() %></td>
                <td><%= r.airport %></td>
                <td><%= r.arrival %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Destination Has Been Added Yet!</h5>
      <% } %>

      <br><br><h2>Add A Ticket</h2>
    <form iid="add-ticket-form" method="POST" action="/flights/<%= flight._id %>/tickets">
        <label>Seat Number: </label>
        <input name="seat" required pattern="[A-F][1-9]\d?"><br>
        <label>Price: </label>
        <input type="number" min="0"><br>
        <input type="submit" value="Add Ticket">
    </form>
    
    <% if (tickets.length) { %>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Seat Number</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% tickets.forEach(function(r) { %>
            <tr>
              <td><%= r.createdAt.toLocaleDateString() %></td>
              <td><%= r.seat %></td>
              <td><%= r.price %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Ticket Has Been Selected</h5>
    <% } %>
  </main>
</body>
</html>